{% extends 'layouts/main.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ venue.name }}
		</h1>
		<p class="subtitle">
			ID: {{ venue.id }}
		</p>
		<div class="genres">
			{% for genre in venue.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ venue.city }}, {{ venue.state }}
		</p>
		<p>
			<i class="fas fa-map-marker"></i> {% if venue.address %}{{ venue.address }}{% else %}No Address{% endif %}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if venue.phone %}{{ venue.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if venue.website %}<a href="{{ venue.website }}"
				target="_blank">{{ venue.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if venue.facebook_link %}<a href="{{ venue.facebook_link }}"
				target="_blank">{{ venue.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if venue.seeking_talent %}
		<div class="seeking">
			<p class="lead">Currently seeking talent</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ venue.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking talent
		</p>
		{% endif %}
		<div class="actions">
			<a href="{{url_for('edit_venue',venue_id=venue.id)}}" class="btn btn-primary">Edit</a>
			<a href="{{url_for('delete_venue',venue_id=venue.id)}}" class="btn btn-danger">Delete</a>
		</div>
	</div>
	<div id="search-box" class="col-sm-6">
		<img src="{{ venue.image_link }}" alt="Venue Image" />
		<div class="row col" style="width:500px; left: 0;">
			<h3>Find An Artist</h3>
			<input id="search_artist" class="form-control" type="search" name="search_artist" placeholder="Find an artist"
				  aria-label="Search">
			 <div class="search-container">
		
				<div class="col-xs-12">
					<div id="result_list" class="col-xs-12 result-list">

					</div>
				</div>
		
			
			</div>
		</div> 
		</div>
</div>
<section>

	<div class="row shows">

		{% if plan.upcoming_shows_count > 0 %}
		<h2 class="monospace">{{ plan.upcoming_shows_count }} Upcoming Shows
		</h2>
		{%for show in plan.upcoming_shows %}

		<div class="col-sm-4">
			<div class="actions"
				style="display: flex; flex-direction: column; position: absolute; right: 1.7rem; bottom: 2.5rem;	">
				<a href="{{url_for('edit_show',show_id=show.id)}}" class="btn btn-primary">Edit</a>
				<a href="{{url_for('delete_show',show_id=show.id)}}" class="btn btn-danger"
					style="margin-top: 1rem;">Delete</a>
			</div>
			<div class="tile tile-show">
				<img src="{{ show.artist.image_link }}" alt="Artist Image" />
				<h4>{{ show.start_date }}</h4>
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a></h5>
				<p>playing at</p>
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue.name }}</a></h5>
			</div>
		</div>
		{% endfor %}
		{% else %}There is no upcoming shows for now{% endif %}
	</div>

</section>
<section>
	<div class="row shows">

		{% if plan.past_shows_count > 0 %}
		<h2 class="monospace">{{ plan.past_shows_count }} Past Shows
		</h2>
		{%for show in plan.past_shows %}

		<div class="col-sm-4">
			<div class="actions"
				style="display: flex; flex-direction: column; position: absolute; right: 1.7rem; bottom: 2.5rem;	">
				<a href="{{url_for('edit_show',show_id=show.id)}}" class="btn btn-primary">Edit</a>
				<a href="{{url_for('delete_show',show_id=show.id)}}" class="btn btn-danger"
					style="margin-top: 1rem;">Delete</a>
			</div>
			<div class="tile tile-show">
				<img src="{{ show.artist.image_link }}" alt="Artist Image" />
				<h4>{{ show.start_date }}</h4>
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a></h5>
				<p>playing at</p>
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue.name }}</a></h5>
			</div>
		</div>
		{% endfor %}
		{% else %}There is no past shows{% endif %}
	</div>

	</div>

</section>

{% endblock %}

{% block js %}
	<script type="text/javascript" src="/static/js/find_artist.js"></script>
  
{% endblock js %}