{% extends 'layouts/main.html' %} {% block title %}{{ artist.name }} | Artist{%
endblock %} {% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">{{ artist.name }}</h1>
		<p class="subtitle">ID: {{ artist.id }}</p>
		<meta id="artist_id" data-id="{{artist.id}}" />
		<div class="genres">
			{% for genre in artist.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state
			}}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{%
			else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if artist.website %}<a
				href="{{ artist.website }}"
				target="_blank"
				>{{ artist.website }}</a
			>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a
				href="{{ artist.facebook_link }}"
				target="_blank"
				>{{ artist.facebook_link }}</a
			>{% else %}No Facebook Link{% endif %}
		</p>
		{% if artist.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist.seeking_description }}
				<i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
		<div class="row actions">
			<a
				href="{{url_for('delete_artist',artist_id=artist.id)}}"
				class="btn btn-danger"
				>Delete</a
			>
			<a
				href="{{url_for('edit_artist',artist_id=artist.id)}}"
				class="btn btn-primary"
				style="min-width: 60px"
				>Edit</a
			>

			{% if artist.seeking_venue %}
			<a
				style="float: right"
				href="{{url_for('artist_create_show',artist_id=artist.id)}}"
				class="btn btn-blue"
				>Book Now</a
			>
			<a
				style="float: right; margin-right: 1rem"
				href="{{url_for('create_album',artist_id=artist.id)}}"
				class="btn btn-success"
				>New Album</a
			>
			{% endif %}
		</div>
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	{% if artist.albums.count() > 0 %}
	<div class="album-row">
		{% for album in artist.albums %}

		<a
			id="{{album.name}}"
			class="album-card"
			href="{{url_for('edit_album',album_id=album.id)}}"
		>
			<div class="col-md-3 album-card-container">
				<div class="card col-md-12 album-img-container">
					<img
						class="card-img-top"
						style="object-fit: fill; height: 220px"
						src="https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
						alt="Card image cap"
					/>
					<h3 class="card-title text-center text-warning">{{album.name}}</h3>
					<h5 class="card-title text-center text-warning">{{album.year}}</h5>
					<div class="card-body">
						<div id="{{album.name}}-list" class="songs_list">
							{% for song in album.songs %}
							<h4>{{song.name}}</h4>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
	{% endif %}
</section>
<section>
	<div class="row shows">
		{% if plan.upcoming_shows_count > 0 %}
		<h2 class="monospace">{{ plan.upcoming_shows_count }} Upcoming Shows</h2>
		{%for show in plan.upcoming_shows %}

		<div class="col-sm-4">
			<div
				class="actions"
				style="
					display: flex;
					flex-direction: column;
					position: absolute;
					right: 1.7rem;
					bottom: 2.5rem;
				"
			>
				<a
					href="{{url_for('edit_show',show_id=show.id)}}"
					class="btn btn-primary"
					>Edit</a
				>
				<a
					href="{{url_for('delete_show',show_id=show.id)}}"
					class="btn btn-danger"
					style="margin-top: 1rem"
					>Delete</a
				>
			</div>
			<div class="tile tile-show">
				<img src="{{ show.artist.image_link }}" alt="Artist Image" />
				<h4>{{ show.start_date }}</h4>
				<h5>
					<a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a>
				</h5>
				<p>playing at</p>
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue.name }}</a></h5>
			</div>
		</div>
		{% endfor %} {% else %}There is no upcoming shows for now{% endif %}
	</div>
</section>

<section>
	<div class="row shows">
		{% if plan.past_shows_count > 0 %}
		<h2 class="monospace">{{ plan.past_shows_count }} Past Shows</h2>
		{%for show in plan.past_shows %}

		<div class="col-sm-4">
			<div
				class="actions"
				style="
					display: flex;
					flex-direction: column;
					position: absolute;
					right: 1.7rem;
					bottom: 2.5rem;
				"
			>
				<a
					href="{{url_for('edit_show',show_id=show.id)}}"
					class="btn btn-primary"
					>Edit</a
				>

				<a
					href="{{url_for('delete_show',show_id=show.id)}}"
					class="btn btn-danger"
					style="margin-top: 1rem"
					>Delete</a
				>
			</div>
			<div class="tile tile-show">
				<img src="{{ show.artist.image_link }}" alt="Artist Image" />
				<h4>{{ show.start_date }}</h4>
				<h5>
					<a href="/artists/{{ show.artist_id }}">{{ show.artist.name }}</a>
				</h5>
				<p>playing at</p>
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue.name }}</a></h5>
			</div>
		</div>
		{% endfor %} {% else %}There is no past shows{% endif %}
	</div>
</section>

{% endblock %} {% block js %}
<script type="text/javascript">
	$(document).ready(function () {
		$songsList = $(".songs_list");
		$songsList.hide();
		cards = document.querySelectorAll(".album-row .album-card");
		cards.forEach((card) => {
			$(card).hover(
				function () {
					$(`#${card.id}-list`).slideDown(function () {
						$(`#${card.id}-list`).fadeIn();
					});
				},
				function () {
					$(`#${card.id}-list`).slideUp(function () {
						$(`#${card.id}-list`).fadeOut();
					});
				}
			);
		});
	});
</script>
{% endblock js %}
