{% extends 'layouts/main.html' %} {% block title %}New Show Listing{% endblock
%} {% block content %}
<div class="form-wrapper">
	<form method="post" class="form">
		<h3 class="form-heading">List a new show</h3>
		<div class="form-group">
			<label for="artist">Artist ID</label>
			<small>ID can be found on the Artist's Page</small>
			{{ form.artist(class_ = 'form-control', autofocus = true) }}
		</div>
		<div class="form-group">
			<label for="venue">Venue ID</label>
			<small>ID can be found on the Venue's Page</small>
			{{ form.venue(class_ = 'form-control', autofocus = true) }}
		</div>
		<div class="form-group">
			<label for="start_date">Start Time</label>
			{{ form.start_date(class_ = 'form-control', placeholder='YYYY-MM-DD
			HH:MM', autofocus = true) }}
		</div>
		<div class="form-group">
			<label for="duration">Duration</label>
			{{ form.duration(class_ = 'form-control', placeholder='Event duration in
			minutes', autofocus = true) }}
		</div>
		<input
			type="submit"
			value="Edit Venue"
			class="btn btn-primary btn-lg btn-block"
		/>
	</form>
</div>
{% endblock %}
